* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: Karla, sans-serif;
}

main {
    padding: 7% 20%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box1 box1" "box2 box3";
}

.box1 {
    grid-area: box1;
    padding: 7%;
    background-color: white;
}

.box2 {
    grid-area: box2;
    padding: 10%;
    background-color: hsl(179, 62%, 43%);
}

.box3 {
    grid-area: box3;
    padding: 10%;
    background-color: hsla(179, 62%, 43%, 0.8);
}


/*---TOP----*/

h1 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 3%;
}

.box1 h2 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 3%;
}

.box1 p {
    color: hsl(218, 22%, 67%);
    word-spacing: 2px;
    line-height: 20px;
    font-size: 17px;
}


/*---LEFT----*/

.box2 h2 {
    color: white;
    margin-bottom: 3%;
}

p.faded {
    color: hsla(204, 43%, 93%, 0.6);
    display: flex;
    margin: 10px 5px;
    align-items: center;
}

.box2 span {
    color: white;
    font-size: 40px;
    margin-left: 0%;
}

.box2 p {
    color: white;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 20px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
}


/*-----RIGHT------*/

.box3 h2 {
    color: white;
    margin-bottom: 5%;
}

li {
    list-style: none;
    line-height: 20px;
    color: white;
}